@mixin thinBorder($width, $marginTop: 0%, $marginLeft: 0%) 
	&:after
		content: ''
		position: absolute
		width: $width
		height: 1px
		background-color: #000
		-webkit-transform: scale(1,0.1);
		transform: scale(1, 0.1)
		margin-left: $marginLeft
		box-sizing: border-box
		margin-top: $marginTop
		-webkit-transform-origin: center bottom; 
		transform-origin: center bottom
    