//颜色规范
//背景
$color-background: #A67d3d
//字体
$color-text: #ccc
$color-text-light: #fff

//zIndex定义规范
$z-index-nomal: 1
$z-index-nomal-fir: 2
$z-index-large: 100

//字体定义规范
$font-size-small-s: 10px
$font-size-small: 12px
$font-size-medium: 14px
$font-size-medium-x: 16px
$font-size-large: 18px
$font-size-large-x: 22px